{
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "requirePragma": false,
  "insertPragma": false
}
