section {
  margin: 20px;
}

button {
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  font-size: medium;
  margin: 10px;
}

table,
tr,
th,
td {
  border: 1px solid #282828;
  padding: 10px;
  border-collapse: collapse;
  text-align: center;
}

fieldset {
  margin-bottom: 20px;
}
